body {
	margin: 0;
	height: 100vh;
}

aside,
footer {
	z-index: 1;
	display: flex;
	position: absolute;
	width: 100vw;
	padding: 0.5em 0;
	background-color: rgba(255, 255, 255, 0.8);
}
aside {
	justify-content: center;
	top: 0;
}

footer {
	justify-content: flex-end;
	bottom: 0;
}

form {
	display: flex;
	align-items: center;
	padding: 0 1em;
}

form label span::before {
	content: ":";
	margin-right: 0.5em;
}

input {
	margin-left: 0.5em;
	font-size: 1em;
}

form [for="stroke-style"] {
	display: none;
}

fieldset {
	margin: 0 2em;
	border: 0;
	padding: 0;
}

@media print {
	form label span::after {
		content: ";";
		margin-right: 1em;
	}

	aside,
    form input {
        display: none;
    }

	form [for="stroke-style"] {
		display: flex;
	}
}

.active {
	color: darkgray;
}

input[type=color],
input[type=file] {
	height: 26px;
}
