body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

aside {
	position: absolute;
	top: 0;
	width: 100vw;
	padding: 0.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
}
aside div {
	padding: 0 1em;
}

aside input {
	margin: 0 0 0 0.5em;
	height: 2em;
}

form {
	position: absolute;
	width: 100vw;
	padding: 0.5em 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
}

form label span::before {
	content: ":";
	margin-right: 0.5em;
}

form input {
	margin: 0 1em 0 0.5em;
	height: 2em;
}

form [for="stroke-style"] {
	display: none;
}

@media print {
	form label span::after {
		content: ";";
		margin-right: 1em;
	}

	aside,
    form input {
        display: none;
    }

	form [for="stroke-style"] {
		display: flex;
	}
}

/* Canvas */
.active {
	color: tomato;
}
.magenta {
	background-color: magenta;
}
.cyan {
	background-color: cyan;
}
.yellow {
	background-color: yellow;
}