body {
	margin: 0px;
}

form {
	background-color: rgba(255,255, 255, 0.8);
	padding: 8px;
	float: right;
}

form input {
	margin: 0 24px 0 0;
}

form span::before {
	content: ": ";
}

@media print {    
    form input {
        display: none !important;
    }

	form label::after {
		content: "; ";
	}
}